@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/* .hidden {
  display: none;
} */

body {
  background-image: url("https://media.wired.com/photos/61dde9edf355cd4b7989ff3a/master/pass/Science_AUmicroscopii_eso1538c.jpg");
  margin-bottom: 300px;
}

.mercury-body {
  background-image: url("https://dto9r5vaiz7bu.cloudfront.net/l7tgvl8ftfym6/source.jpg");
}

.venus-body {
  background-image: url("https://cdn.mos.cms.futurecdn.net/teuYSaoqCLeEt2VCfmNC39.jpg");
}

.mars-body {
  background-image: url("https://www.worldatlas.com/upload/bb/c3/32/shutterstock-1041249343.jpg");
}

.jupiter-body {
  background-image: url("https://wallpaperaccess.com/full/223990.jpg");
}

.back-btn {
  margin: 40px;
  width: 200px;
  height: 80px;
  font-size: 40px;
  font-family: 'Syne Mono', monospace;
  border-radius: 30px;
}

.calc-btn {
  background-color: black;
  color: rgb(3, 161, 3);
  font-family: 'Syne Mono', monospace;
  padding: 7px;
  border-radius: 30px;
}

h1 {
  text-align: center;
  color: rgb(3, 161, 3);
  font-size: 100px;
  margin-bottom: 40px;
  font-family: 'Syne Mono', monospace;
}

h2 {
  text-align: center;
  color: rgb(3, 161, 3);
  font-size: 70px;
  margin-bottom: 40px;
  font-family: 'Syne Mono', monospace;
}

.age-form {
  text-align: center;
}

label {
  color: white;
  font-size: 30px;
  font-family: 'Syne Mono', monospace;
}

p {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Syne Mono', monospace;
}

.output-number {
  color: red;
}

.regiment {
  color: rgb(3, 161, 3);
}

.warning {
  color: red;
}

.result-output {
  background-color: black;
  width: 950px;
  padding: 30px;
  border: solid rgb(3, 161, 3) 7px;
  margin-left: 25%;
  margin-right: 32%;
  border-radius: 10%;
}

.prompt {
  margin-left: 37%;
  border: solid white;
  border-radius: 20px;
  background-color: black;
  margin-bottom: 50px;
}

.wrapper {
  text-align: center;
  background-color: black;
}

.wrapper .static-txts {
  color: rgb(3, 161, 3);
  font-family: 'Syne Mono', monospace;
  font-size: 80px;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 100px;
  line-height: 100px;
  overflow: hidden
}

.dynamic-txts li{
  list-style: none;
  color: white;
  font-size: 80px;
  font-family: 'Syne Mono', monospace;
  position: relative;
  top: 0;
  animation: slide 8s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -400px;
  }
}

.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 100px;

}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  border-left: 7px solid white;
  animation: typing 2s steps(7) infinite;
}
@keyframes typing {
  40%, 60% {
    left: calc(100%);
  }
  100%{
    left: 0;
  }
}

h3 {
  text-align: center;
  font-size: 45px;
  font-family: 'Syne Mono', monospace;
  color: darkgreen;
  margin-bottom: 20px;
}

img {
  border: solid rgb(3, 161, 3);
  border-radius: 360px;
  border-width: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.zoom {
  background-color: green;
  transition: transform .2s;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1);
}